{% extends 'base.html' %}

{% block title %}My profile{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card mt-5">
                    <div class="card-body">
                        <h5 class="card-title">{{ object.username }}</h5>
                        <p class="card-text">Email: {{ object.email }}</p>
                        <p class="card-text"><a href="{% url 'update_profile' %}" class="btn btn-primary">Update my
                            profile</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}