{% extends 'base.html' %}

{% block title %}Create Post{% endblock %}

{% block content %}
    <div class="container p-5">
        {% load widget_tweaks %}
        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3{% if field.errors %} has-error{% endif %}">
                    {% if field.widget.input_type == 'checkbox' %}
                        <div class="form-check mb-3">
                            {% render_field field class+="form-check-input" %}
                            <label for="{{ field.id_for_label }}" class="form-check-label">{{ field.label }}</label>
                        </div>
                    {% else %}
                        <label for="{{ field.id_for_label }}" class="col-form-label">{{ field.label }}</label>
                        {% render_field field class+="form-control" %}
                    {% endif %}
                    {% if form.is_bound %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback valid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
{% endblock %}