{% extends 'base.html' %}

{% block title %}
    My posts
{% endblock %}

{% block content %}

    <div class="album py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for post in page_obj %}
                    {% if not post.is_draft %}
                        <div class="col">
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <h3 class="mb-0"><a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a></h3>
                                    <p class="card-text">{{ post.short_description }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% empty %}
                    <h3 class="mb-0">No posts yet</h3>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
